
# WIZZ Mania



# Dossiers de build / génération

/build/
/build2/
/build*/
/cmake-build-*/
/out/

# Sorties CMake (si jamais générées hors build/)
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
Makefile
Testing/


# Binaires / artefacts C/C++

*.exe
*.dll
*.lib
*.a
*.exp
*.out
*.app
*.obj
*.o
*.iobj
*.ipdb
*.pdb
*.ilk
*.pch


# Visual Studio / MSBuild

.vs/
*.suo
*.user
*.ncb
*.sdf
*.opensdf
*.VC.db
*.VC.VC.opendb
ipch/
*.tlog
*.lastbuildstate
x64/
Debug/
Release/

# IDEs

.vscode/
.idea/


# Qt / Qt Creator (si utilisé)

*.pro.user
*.pro.user.*
moc_*.cpp
ui_*.h
qrc_*.cpp


# Temporaires / logs

*.log
*.tmp
*.temp


# OS

.DS_Store
Thumbs.db

# Notes personnelles 

aide.txt
users.db
